.add_in_md_wrapper {
  display: flex;
  padding: 0 0 0 20px;
  margin: 0;
  margin: 10px 20px 0 20px;
  color: rgb(195, 242, 226);
  flex-direction: column;
  max-width: 600px;
  list-style-type: none;
}

.list_add_in_md {
  list-style-type: none;
  display: flex;
  margin: 0;
  color: rgb(195, 242, 226);
}

/* .btn_add_in_md {
  margin-left: 30px;
  width: 120px;
  height: 30px;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  color: rgb(36, 31, 55);
  background-color: blueviolet;
  font-weight: bold;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.btn_add_in_md:hover {
  color: yellow;
  background-color: rgb(36, 31, 55);
} */
