.movie_wrapper {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

.error {
  color: yellow;
  font-size: 20px;
}

.forma_movies {
  display: flex;
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  background-color: blueviolet;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;

  border-radius: 10px;
  overflow: hidden;
  padding: 20 px;
  background-color: blueviolet;
}

.searchFormButton {
  padding: 8px 16px;
  border-radius: 15px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-block;
  color: #fff;

  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  width: 90px;
  margin-left: 10px;
  box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.2),
    2px 2px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  color: yellow;
  background-color: rgb(36, 31, 55);

  font-weight: bold;
}
.searchFormButton:hover {
  opacity: 1;
  color: yellow;
  background-color: blueviolet;
}

.searchFormInput {
  /* display: inline-block; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 400px;
  height: 40px;

  font-size: 20px;
  border-color: #1b0e55;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(229, 247, 247);
}

.searchFormInput::placeholder {
  font-size: 18px;
}
